<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njdp.njdp_farmer">

    <!-- 联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 读写外部存储设备权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 获取位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />
    <!-- GET_TASKS过时了 -->


    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".db.AppController"
        android:allowBackup="true"
        android:icon="@drawable/my_launcher"
        android:label="@string/app_name1"
        android:supportsRtl="true"
        android:largeHeap="false"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".register_TermsofService"
            android:label="@string/title_activity_register__termsof_service"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".getpassword"
            android:label="@string/title_activity_getpassword"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".getpassword2"
            android:label="getpassword2"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".mainpages"
            android:label="@string/title_activity_mainpages"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".register_image"
            android:label="@string/title_activity_register_image"
            android:screenOrientation="portrait"/>

        <!-- 照片选择 -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>

        <!-- 设置相关的界面 -->
        <activity android:name=".PersonalSet"
            android:label="@string/title_activity_personal_set"
            android:screenOrientation="portrait"/>
        <activity android:name=".SetPhoneNum"
            android:screenOrientation="portrait"/>
        <activity android:name=".address.AddressSelect"
            android:screenOrientation="portrait"/>
        <activity android:name=".Edit_Password"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainLink"
            android:screenOrientation="portrait"/>

        <!-- 三个主界面Frame -->
        <!--activity
            android:name=".conent_frament.FarmlandManager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".conent_frament.PersonalInfoFrame"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".conent_frament.FarmMachineSearch"
            android:theme="@style/AppTheme.NoActionBar" /-->

        <!--农田发布、农田列表查询、农机列表查询-->
        <activity android:name=".FarmerRelease"
            android:screenOrientation="portrait"/>
        <activity android:name=".FarmerLandList"
            android:screenOrientation="portrait"/>
        <activity android:name=".MachinesList"
            android:screenOrientation="portrait"/>

        <!-- 地图配置 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>
        <!-- 地图密钥 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="31dCRj6WmM8spHFHHuNKoGDqig6GD5DN" />

    </application>

</manifest>
